body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-jua: Jua;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;
  --font-size-21xl: 40px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-blueviolet-100: #9555ff;
  --color-blueviolet-200: rgba(149, 85, 255, 0.5);
  --color-mediumpurple: rgba(191, 155, 250, 0.3);
  --color-gray-100: #929292;
  --color-darkgray-100: #979797;
  --color-dimgray: #6d6d6d;
  --color-gainsboro: #d9d9d9;
  --color-cadetblue-100: #62b6b7;
  --color-thistle: #dfcbff;

  /* border radiuses */
  --br-mini: 15px;
  --br-11xl: 30px;
  --br-3xs: 10px;
}
