<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./useparking/global.css" />
    <link rel="stylesheet" href="./useparking/useparking.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div">
      <div class="div1">
        <div class="footer-parent">
          <div class="footer">
            <div class="footer1"></div>
          </div>
          <div class="contactmoduparkingcom-container">
            <p class="p">
              상호명 : 공유주차| 사업자등록번호 : 000-00-0000 | 통신판매업
              신고번호 : 제000-서대문구-0923호 | 대표 : 남상규
            </p>
            <p class="p">
              주소 : 서울시 성동구 왕십리로 00-00, 00타워 3층 (우)04769 | 전화 :
              1899-8242 | Contact@Moduparking.Com |
            </p>
            <p class="p">© 2023 쉽고 편리한 주차 플랫폼 공유주차</p>
          </div>
        </div>
        <div class="parent">
          <div class="div2">공유주차란?</div>
          <div class="div3">지도</div>
          <div class="div4">다운로드</div>
          <div class="div5">게시판</div>
          <div class="div6">문의</div>
          <div class="group">
            <div class="div7">
              <img class="logo" alt="" src="img/Parking_logo.png/" />
            </div>
            <div class="div8">공유주차</div>
          </div>
        </div>
        <div class="div9">이용중인 주차권</div>
        <div class="div10">공유 중인 나의 주차장</div>
        <div class="div11">사용 만료된 주차권</div>
        <div class="child"></div>
        <div class="div12">
          <div class="item"></div>
          <div class="div13">한라 3단지 아파트 주차장</div>
          <div class="div14">123가4567</div>
          <div class="div15">23.07.01(토)</div>
          <div class="inner"></div>
        </div>
        <div class="div16">
          <div class="item"></div>
          <div class="div13">한라 3단지 아파트 주차장</div>
          <div class="div14">123가4567</div>
          <div class="div15">23.07.01(토)</div>
          <div class="inner"></div>
        </div>
        <div class="div20">주차장 이름</div>
        <div class="div21">이용 현황</div>
        <div class="div22">
          <div class="item"></div>
          <div class="div13">한라 3단지 아파트 주차장</div>
          <div class="div24">위치 설명</div>
          <div class="inner"></div>
        </div>
        <div class="div25">
          <div class="item"></div>
          <div class="div13">한라 3단지 아파트 주차장</div>
          <div class="div24">위치 설명</div>
          <div class="inner"></div>
        </div>
        <div class="wrapper">
          <div class="div28">홈으로</div>
        </div>
        <div class="text"></div>
        <div class="div29">공유 중인 주차장이 존재하지 않습니다.</div>
      </div>
      <div class="primary-button" id="primaryButtonContainer">
        <div class="rectangle"></div>
        <div class="div30">홈으로</div>
      </div>
      <div class="primary-button1" id="primaryButtonContainer1">
        <div class="rectangle"></div>
        <div class="div30">취소신청</div>
      </div>
    </div>

    <script>
      var primaryButtonContainer = document.getElementById("primaryButtonContainer");
      if (primaryButtonContainer) {
        primaryButtonContainer.addEventListener("click", function (e) {
          // Please sync "메인/결제페이지" to the project
        });
      }
      
      var primaryButtonContainer1 = document.getElementById(
        "primaryButtonContainer1"
      );
      if (primaryButtonContainer1) {
        primaryButtonContainer1.addEventListener("click", function (e) {
          // Please sync "메인/결제페이지" to the project
        });
      }
      </script>
  </body>
</html>
